body{
  font-family: "Montserrat";
}

#title
{
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid
{
padding: 3% 15%;

}
h1
 {
   font-family: "Montserrat", sans-serif;
   font-size:3rem;
   line-height:1.5;
   font-weight: 900;
 }

.navbar{
  padding-bottom: 4.5rem;
}
.navbar-brand{
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
padding: 0 18px;
}
.nav-link{
  font-size:1.3rem;
}
.download-button{
  margin: 5% 3% 5% 0;
}
.imgcs{
  position: absolute;
  padding-left: 7%;
}

.title-image{
  width:60%;
  transform: rotate(25deg);

}
#features{
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}
.feature-box{
  text-align: center;
  padding:4.5%;
}
h3{
  font-family: "Montserrat-Bold",sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
.icon{
  color:#ff4c68;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#000;
}

#testimonials
{
  background-color: #ff4c68;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.testimonial{
  padding: 7% 15%;

}
h2{
  font-size:2rem;
  line-height:1.5;
  font-weight: 700;
}
.testimonial-img
{
  width:10%;
  border-radius: 100%;
  margin: 20px;
}
#press
{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 20px;
}
.logos-img
{
  width:15%;
  margin: 3% 2%;
}
#pricing
{
  text-align: center;
  padding: 7% 15%;
}
.pcolumn{
  padding:3% 2%;
}
#cta{
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

#footer{
  text-align: center;
  padding:3%;
}

@media (max-width:1028px){
  .imgcs{
    position: static;
  }
  .title-image{
    transform: rotate(0);
  }
}
